@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  background: url("image.svg") no-repeat fixed center;
  background-size: cover;
}

.box {
  padding-left: 12px;
  padding-right: 12px;
}

h3 {
  text-align: center;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'poppins';
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: transparent;
  padding: 20px;
  max-width: 400px;
  margin: 9% auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30vh;
  backdrop-filter: blur(12px);
}


#username,
#password {
  display: inline-block;
  width: 100%;
  height: 60px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: transparent;
  color: #ffffff;
  border-color: #ffffff;
  font: 1em 'poppins';
}

.signin {
  width: 100%;
  height: 60px;
  background-color: #7431e9;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  font: 1.4em kanit;
}

.signin:hover {
  background-color: #702ce4;
  color: #fff;
}

.signup {
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
}

.signup a {
  text-decoration: none;
  color: rgb(0, 229, 229);
}

.signup a:hover {
  text-decoration: underline;
  color: #fff;
}


@media screen and (min-width: 551px) {
  h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 550px) {
  h3 {
    font-size: 25px;
  }
}
